<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'blog/homepage.css' %}">
	</head>
	<body>
		<header>
			<div class="logo container">This is a logo</div>
			<div class="nav-div container">
				<nav>
					<a class="link" href="/">Home</a>
					<a class="link" href="/blog/">Blog</a>
					<a class="link" href="/duper/">Duper</a>
				</nav>
				<hr/>
			</div>
		</header>
		<div class="main container">
			<h1>Hello World!</h1>
		</div>
	</body>
</html>